{% extends 'base_admin.html.twig' %}
{% block title %}Modification de profil des Agents!{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Agent</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item">Agent</li>
                            <li class="breadcrumb-item active">Modification de profile</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-5">{{ form_row(form.nom) }}</div>
                <div class="col-md-5">{{ form_row(form.prenom) }}</div>
            </div>

            <div class="row center">
                <div class="col-md-3">{{ form_row(form.tel) }}</div>
            </div>

            <div class="row">
                <div class="col-md-5">{{ form_row(form.email) }}</div>
            </div>
            <div class="row">
                <div class="col-md-5">{{ form_row(form.roles) }}</div>
            </div>

            <div class="flex float-right">
                <Button class="btn btn-primary"><i class="fa fa-user-plus"></i>Modifier</Button>
               
                <a href="{{path('user')}}" class="btn btn-warning rounded-0">
                        <i class="fa fa-times"></i>
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% endblock %}