{% extends 'base_admin.html.twig' %}
{% block title %}Ajout de nouvelle Agent!{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Agent</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">IPDemat</a>
                                </li>
                                <li class="breadcrumb-item">Agent</li>
                                <li class="breadcrumb-item active">Ajouter un agent</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>

        {% for label,messages in app.flashes %}
	{% for message in messages %}
        <div class="container">
            <div class="d-flex align-items-center justify-content-end">
                <div>
                    <div class="alert bg-{{ label }} text-white rounded-0">
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
	{% endfor %}
    {% endfor %}

        <div class="row">
            <div class="col-sm-12">
        {{ form_start(form) }}

        <div>
            <img src="{{ asset('img/no-image.png') }}" class="avatar avatar-preview" alt="avatar">
                <div class="row">
                    <div class="col-md-5">{{ form_row(form.picture) }}</div>
                </div>
        </div>
        </hr><br>

        <div class="row">
            <div class="col-md-5">{{ form_row(form.nom) }}</div>
            <div class="col-md-5">{{ form_row(form.prenom) }}</div>
        </div>

        <div class="row center">
            {# <div class="col-md-3">{{ form_row(form.numComp) }} </div> #}
            <div class="col-md-3">{{ form_row(form.tel) }}</div>
        </div>

        <div class="row">
            <div class="col-md-5">{{ form_row(form.email) }}</div>
        </div>
        <div class="row">
            <div class="col-md-5">{{ form_row(form.roles) }}</div>
        </div>

        <div class="row">
            <div class="col-md-5">{{ form_row(form.Password) }}</div>
            <div class="col-md-5">{{ form_row(form.Confir_pwd) }}</div>
        </div>

        <div class="flex float-right mt-3 mr-5">
                <Button class="btn btn-success">
                    <i class="fa fa-user-check"></i>
                    Enregistrer
                </Button>
                <a href="{{path('user')}}" class="btn btn-warning rounded-0">
                        <i class="fa fa-times"></i>
                    Annuler
                </a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
{# {% block javascripts %} #}