{% extends 'base_admin.html.twig' %}

{% block title %} listes des utilisateur{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Agents</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item active">Agents</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <a href="{{ path("ajout_user") }}" class="btn btn-primary float-right mb-3">
                        <i class="fa fa-user-plus"></i>
                        Créer un agent
                    </a>
                    {% include "partials/research.html.twig" %}
                </div>
            </div>

            {% for label,messages in app.flashes %}
            {% for message in messages %}
            <div class="container">
                <div class="d-flex align-items-center justify-content-end">
                    <div>
                        <div class="alert bg-{{ label }} text-white rounded-0">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Numéro de compte</td>
                        <td class="text-white">Nom</td>
                        <td class="text-white">Prénom</td>
                        <td class="text-white">Téléphone</td>
                        <td class="text-white">Email</td>
                        <td class="text-white">Actions</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.numCom }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.tel }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('agent_edit',{id:user.id}) }}">
                                <i title="Modifier" class="fas fa-edit text-info"></i>
                            </a>
                            <a href="{{ path('user_delete',{id:user.id}) }}" class="btn btn-user-times text-danger rounded-0" 
                                onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet agent');">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}