{% extends 'base_front.html.twig' %}
{% block title %} A propos{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <!-- Page-Title breadcrumb-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">IPDemat</a></li>
                            <li class="breadcrumb-item active">A propos</li>
                        </ol>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>

    <div class="container">
        <p> <strong> <mark>IPDEMAT</mark> entre dans le capital de AM DISTRIB!
                Il y a du changement chez AM DISTRIB…</strong></p><br><br><br>
                <span><mark>IPDEMAT</mark> se renforce dans la distribution de produits télécoms en entrant dans le capital de AM DISTRIB Leader sur le marché auprès de magasins spécialisés et de proximité. <br><br>
                        Cette acquisition permettra à <mark>IPDEMAT</mark> d'accélérer le développement de son activité
                        « Paiement et Services dématérialisée » ,qui s'inscrit dans son plan 2022. <br><br>
                        <mark>IPDEMAT</mark> confirme ainsi son engagement à accompagner le développement et la modernisation de son réseau de détaillants,<br><br> en lui proposant des services à valeur ajoutée. <br><br>
                        
                        De ce fait, AM DISTRIB se spécialise et devient votre unique distributeur en smartphones et accessoires mobiles ! <br><br>
                        N’hésitez pas à nous contacter pour plus d’informations, notre équipe est à votre service !
                        
                    </span><br><br>
                </div>
                        <p class="float-right mr-5"><strong>AMDISTRIB
                            IPDEMAT</strong></p>


</div>
{% endblock %}