{% extends 'base_front.html.twig' %}
{% block title %} Accueil{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <!-- Page-Title breadcrumb-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">IPDemat</a></li>
                            <li class="breadcrumb-item active">Accueil</li>
                        </ol>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
    <!-- end page title end breadcrumb -->

    {# banner #}
    <div class="banner d-flex justify-content-between align-items-start p-3">
        <div class="text-white">
            <div>
                <h2 class="text-white">Bienvenue sur
                    <span class="text-success">IPDemat</span>
                    <span class="text-danger"> - One</span>
                    {{ app.user ? app.user.prenom : "" }}</h2>
            </div>
        </div>
        <div class="input-rounded">
            <i class="fas fa-search text-white"></i>
            <input type="search" placeholder="Rechercher">
        </div>
    </div>
    {# End banner #}
    {# {{ dump(soldes_agent) }} #}
    {# Card statistique #}
    <div class="card-statistic container-fluid">
        <div class="row mx-auto">

            <div class="col-sm-3 mr-4 ml-4">
                    <div class="card m-5" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Dernier montant reçu</h5>
                            <strong class="text-danger">{{ mont_recu }}</strong>
                                <p class="fas fa-euro-sign text-danger text-danger mt-3">
                            </p><br>
                            <a href="{{ path('recharge') }}" class="btn btn-primary ml-2 mt-3">Recharger</a>
                        </div>
                    </div>
            </div>

            <div class="col-sm-3 mr-4 ml-4">
                    <div class="card m-5" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Montant total déposé</h5>
                            <strong class="text-danger">{{ soldes_agent[0]['monDepot'] is not null ? soldes_agent[0]['monDepot'] : 0 }}</strong>    
                                <p class="fas fa-euro-sign text-danger mt-3">
                            </p><br>
                            <a href="{{ path('montant_depot') }}" class="btn btn-primary ml-2 mt-3">Déposer</a>
                        </div>
                    </div>
            </div>

            <div class="col-sm-3 mr-4 ml-4">
                    <div class="card m-5" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Montant total des dépenses</h5>
                            <strong class="text-danger">{{ soldes_agent[0]['monDep'] is not null ? soldes_agent[0]['monDep'] : 0 }}</strong>
                                <p class="fas fa-euro-sign text-danger mt-3">
                                </p><br>
                            <a href="{{ path('solde_depende') }}" class="btn btn-primary  mt-3">Nouvelle dépense</a>
                        </div>
                    </div>
            </div>


            <div class="col-sm-3 mr-4 mx-auto">
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title btn btn-success btn-block mt-3 text-center">Montant total restant dû</h5><br>
                        {% set montant_total_rechargement = soldes_agent[0]['monRecu'] is not null ? soldes_agent[0]['monRecu'] : 0 %}
                        {% set montant_total_depot = soldes_agent[0]['monDepot'] is not null ? soldes_agent[0]['monDepot'] : 0 %}
                        {% set montant_total_depense = soldes_agent[0]['monDep'] is not null ? soldes_agent[0]['monDep'] : 0 %}
                       
                        {# <strong class="text-danger ">{{ montRecu - montDepot - montDepens }}</strong> #}
                        <strong class="text-danger ">{{ montant_total_rechargement - montant_total_depot - montant_total_depense }}</strong>
                            <p class="fas fa-euro-sign text-danger text-danger mt-3">
                        </p><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}