{% extends 'base_admin.html.twig' %}
{% block title %}Rechargement{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
            .disable-links {
                pointer-events: none;
            }
            .disable-links:hover {
                cursor: pointer;
            }
    </style>
{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Rechargement</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item active">Rechargement du jour</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">

                    {% include "partials/research.html.twig" %}
                </div>
            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Numéro de compte</td>
                        <td class="text-white">Nom</td>
                        <td class="text-white">Prénom</td>
                        <td class="text-white text-center">Montant</td>
                        <td class="text-white">Client</td>
                        <td class="text-white">Date</td>
                        <td class="text-white">Observation</td>
                        <td class="text-white text-center">Validation</td>
                        <td class="text-white text-center">Validé par</td>
                        {% if is_granted("ROLE_ADMIN") %}
                            <td class="text-white text-center">Actions</td>
                        {% endif %}
                        <!-- <td>tes</td> -->
                    </tr>
                </thead>
                <tbody>
                    {% for rechargement in rechargements %}
                    <tr>
                        <td>{{ rechargement.agent.numCom }}</td>
                        <td>{{ rechargement.agent.nom }}</td>
                        <td>{{ rechargement.agent.prenom }}</td>
                        <td class="text-danger text-center">{{ rechargement.monRecu }} <p class="fas fa-euro-sign text-danger"></p> </td>
                        <td>{{ rechargement.bout.nom }}</td>
                        <td>{{ rechargement.date | date ("d-m-Y") }}</td>
                        <td>{{ rechargement.obesr }}</td>
                        <td class=" text-center">
                                <span class="badge badge-{{ rechargement.isValid == 1 ? "success" : "danger" }}">
                                        {{ rechargement.isValid == 1 ? "Oui" : "Non" }}
                                </span>
                        </td>
                        <td>{{ rechargement.validateur }}</td>
                        {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a href="{{path('validation_recharge',{id:rechargement.id})}}" 
                            class="btn {{ rechargement.isValid == 1 ? "disable-links btn-secondary" : "btn-primary" }}"
                            onclick="return confirm('Est-ce que vous voulez vraiment valider cette rechargement');"
                            sty>Valider</a>
                        </td>
                        {#<td>{{admin}}</td>#}
                        {% endif %}
                    </tr>
                    {% else %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}