{% extends 'base_admin.html.twig' %}
{% block title %}Suivie collecte{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Suivie collecte</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item active">Suivie collecte</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">

                    {% include "partials/research.html.twig" %}
                </div>
            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Numéro de compte</td>
                        <td class="text-white">Prénom</td>
                        <td class="text-white text-center">Montant Reçu</td>
                        <td class="text-white text-center">Montant Déposé</td>
                        <td class="text-white text-center">Montant Dépenses</td>
                        <td class="text-white text-center">Montant total restant dû</td>
                    </tr>
                </thead>
                <tbody>
                    {% set total_rechargement = 0 %}
                    {% set total_depot = 0 %}
                    {% set total_depense = 0 %}
                    {% for agent in agents_amount_historic %}
                        <tr>
                            <td>{{ agent.numCom }}</td>
                            <td>{{ agent.prenom }}</td>
                            <td class="text-center">{{ agent.monRecu }}</td>
                            <td class="text-center">{{ agent.monDepot }}</td>
                            <td class="text-center">{{ agent.monDep }}</td>
                            <td class="text-center">{{ agent.monRecu - agent.monDepot - agent.monDep }}</td>
                        </tr>
                        {% set total_rechargement = total_rechargement + agent.monRecu %}
                        {% set total_depot = total_depot + agent.monDepot %}
                        {% set total_depense = total_depense + agent.monDep %}
                    {% endfor %}
                        <tr>
                            <td colspan="5"></td>
                            <td>Total des rechargements : {{ total_rechargement }}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Total des dépot : {{ total_depot }}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Total des dépenses : {{ total_depense }}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td> <strong class="text-danger text-center">Montant total restant dû :</strong> <strong> {{ total_rechargement - total_depot - total_depense }}</strong></td>
                        </tr>
                </tbody>
            </table>
            <span  
        </div>
    </div>
</div>
{% endblock %}