<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>IPDemat | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    {% block stylesheets %}
    <!-- App css -->
        <!--error500-->
    <link rel="stylesheet" href="{{ asset('assets/style.css') }} />

    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/icons.min.css') }}" type="text/css" />
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/metisMenu.min.css') }}" type="text/css" />
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}" type="text/css" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css" />
    <link type="text/css" rel="stylesheet" href="{{ asset('dataTable/css/datatables.min.css') }}">
    {% endblock %}


</head>

<body class="dark-sidenav">
    {% block body %} {% endblock %}
    {% block javascripts %}

    <script  src="{{ asset('assets/script.js') }}"></script>

    <!-- jQuery  -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('dataTable/js/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/metismenu.min.js') }}"></script>
    <script src="{{ asset('assets/js/waves.js') }}"></script>
    <script src="{{ asset('assets/js/feather.min.js') }}"></script>
    <script src="{{ asset('assets/js/simplebar.min.js') }}"></script>
    <script src="{{ asset('assets/js/moment.js') }}"></script>
    <script src="{{ asset('assets/pages/jquery.analytics_dashboard.init.js') }}"></script>
    <!-- App js -->
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('js/datatable.js') }}"></script>
    
    {% endblock %}
</body>

</html>