{% extends 'base_admin.html.twig' %}
{% block title %}Administration
{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="page-title-box">
				<div class="row">
					<div class="col">
						<ol class="breadcrumb d-flex align-items-center">
							<li class="breadcrumb-item">
								<a href="javascript:void(0);">IPDemat</a>
							</li>
							<li class="breadcrumb-item active">Tableau de bord</li>
						</ol>
					</div>
					<!--end col-->
				</div>
				<!--end row-->
			</div>
			<!--end page-title-box-->
		</div>
		<!--end col-->
	</div>
	<!--end row-->
	<!-- end page title end breadcrumb -->


	{# banner #}
	<div class="banner d-flex justify-content-between align-items-start p-3">
		<div class="text-white">Administration</div>
		<div class="d-flex align-items-center"></div>
		<div class="input-rounded">
			<i class="fas fa-search text-white"></i>
			<input type="search" placeholder="Rechercher">
		</div>
		<!-- {% include 'partials/research.html.twig' %} -->
	</div>
	{# End banner #}
	<div class="card-statistic" width='100' height='100'>
		<div class="container">
			<h2 class="ml-3 mt-1 mb-1">
				<strong>jour </strong>
			</h2>
			<div class="row">
				<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
					<h4><span class="text-success mx-2">Reçu</span>
						<span class="text-white mx-1">{{ compte_journalier_rechargement }}
						</span>
						<i class="fas fa-euro-sign text-white"></i></h4>
					<a href="{{ path('recharger_jour') }}">
						<h4 class="fas fa-eye text-white ml-5"></h4>
					</a>
				</div>
				<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
					<h4><span class="text-success mx-2">Déposé</span>
						<span class="text-white mx-1">{{ compte_journalier_depose }}</span>
						<i class="fas fa-euro-sign text-white"></i></h4>
				</div>
				<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
					<h4><span class="text-success mx-2">Depensé</span>
						<span class="text-white mx-1">{{ compte_depenser_journalier }}</span>
						<i class="fas fa-euro-sign text-white"></i></h4>
				</div>
			</div>
			<h4 class="ml-2 mt-1 mb-1">
				<strong>Mois</strong>
			</h4>
			<div class="row">
				<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
					<h4><span class="text-success mx-2">Reçu</span>
						<span class="text-white mx-1">{{ compte_mensuel_rechargement }}</span>
						<i class="fas fa-euro-sign text-white"></i></h4>
					<a href="{{ path('mont_rec') }}">
						<h4 class="fas fa-eye text-white ml-5"></h4>
					</a>
				</div>
				<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
					<h4><span class="text-success mx-2">Déposé</span>
						<span class="text-white mx-1">{{ compte_mensuel_depose }}</span>
						<i class="fas fa-euro-sign text-white"></i></h4>
					<a href="{{ path('mont_depot') }}">
						<h4 class="fas fa-eye text-white ml-5"></h4>
					</a>
				</div>
				<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
					<h4><span class="text-success mx-2">Depensé</span>
						<span class="text-white mx-1">{{ compte_mensuel_depenser }}</span>
						<i class="fas fa-euro-sign text-white"></i></h4>
					<a href="{{ path('mont_depense') }}">
						<h4 class="fas fa-eye text-white ml-5"></h4>
					</a>
				</div>
			</div>

			 <h2 class="ml-2 mt-1 mb-1">
				<strong>Année</strong>
			</h2>
			<div class="row">
				<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
					<h4><span class="text-success mx-2">Reçu</span>
						<span class="text-white mx-1">{{ compte_annuelle_rechargement }}</span>
						<i class="fas fa-euro-sign text-white"></i></h4>
					<a href="{{ path('mont_rec') }}">
						<h4 class="fas fa-eye text-white ml-5"></h4>
					</a>
				</div>
				
				<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
					<h4><span class="text-success mx-2">Déposé</span>
						<span class="text-white mx-1">{{ compte_annuelle_depot }}</span>
						<i class="fas fa-euro-sign text-white"></i></h4>
					<a href="{{ path('mont_rec') }}">
						<h4 class="fas fa-eye text-white ml-5"></h4>
					</a>
				</div>
				
				<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
					<h4><span class="text-success mx-2">Depensé</span>
						<span class="text-white mx-1">{{ Compte_annuelle_depenser }}</span>
						<i class="fas fa-euro-sign text-white"></i></h4>
					<a href="{{ path('mont_rec') }}">
						<h4 class="fas fa-eye text-white ml-5"></h4>
					</a>
				</div>
				
				<div class="card-body text-center">
					<h5 class="card-title btn btn-success mt-1 text-center">
					    Montant total restant dû : <strong class="text-danger "> 
							{{ compte_annuelle_rechargement - compte_annuelle_depot - Compte_annuelle_depenser }}
						   <p class="fas fa-euro-sign text-danger text-danger mt-3"></p>
						</strong>
					</h5>
				</div>
			</div> 
		</div>
	</div>

	{% endblock %}