{% extends "base.html.twig" %}

{% block title %}dorit d’accédé{% endblock %}

{% block body %}
    <div class="container">
        <h1>Alors ? vous essayez de bousiller l'application !</h1>
            <div class="alert alert-danger">
                <h2>Vous n'avez pas le  accéder sur cette ressource!</h2>
            </div>
        <a href="{{path('home')}}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}