{% extends "base.html.twig" %}

{% block title %} Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
        <h1>Oups! La page que vous recherchez n'existe pas</h1>
        <h2>On a surement du mal vous reisegner ! Aucun soucis, vous pouvez retournez à l'accueil</h2>
        <a href="{{path('home')}}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}