{% extends 'base_admin.html.twig' %}
{% block title %}Situations{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title-box">
        <div class="row">
          <div class="col">
            <ol class="breadcrumb d-flex align-items-center">
              <li class="breadcrumb-item"><a href="javascript:void(0);">IPDemat</a></li>
              <li class="breadcrumb-item active">Situations des agents</li>
            </ol>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end page-title-box-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->
  <!-- end page title end breadcrumb -->


  {# banner #}
  <div class="banner d-flex justify-content-between align-items-start p-3">
    <div class="text-white">Encaissement</div>
    <div class="d-flex align-items-center">
    </div>
    <div class="input-rounded">
      <i class="fas fa-search text-white"></i>
      <input type="search" placeholder="Rechercher">
    </div>
    <!-- {% include 'partials/research.html.twig' %} -->
  </div>
    {# End banner #}

    {# Card statistique #}
    <div class="card-statistic container">
        <div class="col-center">
            <div class="row">
                <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                    <i class="fas fa-euro-sign text-white"></i>
                    <a href="{{ path('mont_rec') }}" span class="text-white mx-2">Montants Globale</span>
                </div>
                <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                    <i class="fas fa-euro-sign text-white"></i>
                    <a href="{{ path('mont_depot') }}" span class="text-white mx-2">Montants Déposer</span>
                </div>
                <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                    <i class="fas fa-euro-sign text-white"></i>
                    <a href="{{ path('mont_depense') }}" span  class="text-white mx-2">Montants Dépenser</span>
                </div>
            </div>
    </div>
</div>
{% endblock %}